{%- capture terms_conditions -%}
  <a href="/pages/terms-conditions">{{- 'general.terms_conditions.title' | t -}}</a>
{%- endcapture -%}
{%- capture privacy -%}
  <a href="/pages/privacy">{{- 'general.privacy.title' | t -}}</a>
{%- endcapture -%}

<section class="age-gate fixed fit z10 align-c white" data-module="age-gate">
  <div class="age-gate__background abs fit"></div>
  <div class="age-gate__overlay abs fit"></div>
  <div class="age-gate__inner abs fit mxa f fdc jcc aic">
    <div class="age-gate__logo">
      <img src="{{- 'logo.png' | asset_url -}}" alt="gate__logo">
    </div>
    <h2 class="age-gate__title"></h2>
    <p class="age-gate__lead">{{- 'general.age_gate.question' | t -}}</p>
    <div class="age-gate__ctas f fw jcc aic">
      <a href="#" class=" age-gate__button button btn--primary mx05" data-hover="{{- 'general.age_gate.yes' | t -}}" data-age-gate-action="enter">{{- 'general.age_gate.yes' | t -}}</a>
      <a href="/pages/access-denied" class="age-gate__button button btn--primary mh05" data-hover="{{- 'general.age_gate.no' | t -}}" data-age-gate-action="exit">{{- 'general.age_gate.no' | t -}}</a>
    </div>
  </div>
  <div class="age-gate__footer abs fit-l fit-b fit-r small">
    <p>{{- 'general.terms_conditions.cookies' | t -}}</p>
    <p>{{- 'general.terms_conditions.consent_html' | t: terms_conditions: terms_conditions, privacy: privacy -}}</p>
  </div>
</section>

{%- assign terms_conditions = nil -%}
{%- assign privacy = nil -%}
